doctype html
html
  head
    title My Polls | FreeCodeCamp Voting App
    include includes/includes.pug
    script.
      var share = function(id) {
        window.open("http://www.facebook.com/sharer/sharer.php?u="+window.location.hostname+"/polls/" + id);
      }
  body
    .container
      .row
        .col-xs-12
          h1 My Polls
          #pollsList
            each poll in polls.length ? polls : ['There are no polls yet.']
              .poll
                .poll-name= poll.name
                .pull-right
                  button.btn.btn-danger Delete
                  button.btn.btn-info(onClick="share('" + poll._id + "')") Share
